.odd {
    background-color: rgb(255, 165, 165);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0,0,255);
    font-size: 36px;
}

.three, #four {
    font-size: 24px;
}

#four {
    background-color: rgb(146, 241, 146);
    font-weight: bold;
}