body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px; /* Game changer, did not realize this */
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: 0 auto;  /* Centers the element horizontally, did not realize this */
}